/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2e9e4;
  /* Light beige background */
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #52301f;
  /* Dark chocolate brown */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #52301f;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  background-color: #99521f;
  /* Rich brown */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #7a3f1a;
  /* Darker brown */
}